<%= form_for(@machine, :html => { :multipart => true, :id => "machine_form" }) do |f| %>
    <div class="form-group">
        <div class="field">
            <label for="latitude">Operator</label>
            <p><%= current_operator.name %></p>
        </div>
        <div class="field">
            <label for="latitude">Latitude (defaults to current)</label>
            <%= f.text_field :latitude, class:"form-control", placeholder:"latitude", value:"#{@machine.id ? @machine.latitude : request.location.latitude }" %>
        </div>
        <div class="field">
            <label for="longitude">Longitude (defaults to current)</label>
            <%= f.text_field :longitude, class:"form-control", placeholder:"longitude", value:"#{@machine.id ? @machine.longitude : request.location.longitude }" %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit class:"btn btn-success", data: { "disable-with": "Updating..." } %>
    </div>
<% end %>